# OS
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/

# Node
node_modules/
dist/
build/
.env
.env.local
npm-debug.log*

# Java / Kotlin
*.class
*.jar
*.war
*.ear
target/
.mvn/wrapper/maven-wrapper.jar
hs_err_pid*
replay_pid*

# Gradle (caso presente)
.gradle/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

# Logs
*.log

# imersao22 (excluded from version control)
imersao22/
